<nav class="main-menu">
  <div class="scrollbar" id="style-1">
    <ul>
      <li>
        <a href="">
          <i class="fa fa-home fa-lg"></i>
          <span class="nav-text">Home</span>
        </a>
      </li>

      <li>
        <a href="product">
          <i class="fa fa-envelope-o fa-lg"></i>
          <span class="nav-text">Product</span>
        </a>
      </li>

      <li>
        <a href="">
          <i class="fa fa-user fa-lg"></i>
          <span class="nav-text" (click)="logout()">Logout</span>
        </a>
      </li>

    </ul>
  </div>
</nav>